* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  /* display: grid;
  grid-template-rows: 150px 1fr 100px;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  flex: 1;
  text-align: center;
}
.logo>a{
  color:wheat;
  text-decoration: none;
}